.nav-brand-img{
  height: 50px;
    border-radius: 50%;
}
.main-header{
  max-width: 100% !important;
  gap: 30px;
  margin: 0 !important;
}
.sub-header{
  flex-wrap: wrap !important;
  
}
.sub-header .navbar-text{
  word-break: break-word;
  gap: 5px;
}
.sort-by-select{
  max-width: 200px;
}
.employee-card{
  height: 100% !important;
  min-height: 250px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  border: none;
}
.card-left-right-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-middle-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.emp-img{
  border: 1px solid #6c8f6c;
  background: #6c8f6c;
  padding: 10px;
  height: 50px;
  width: 50px;
}
.rating-color{
  color:#f23232a8
}
.card-title{
  color: #36454F;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.emp-description{
  word-break: break-all;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 0;
  color: #36454F;
}
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
